.canvas_claro{
    background-color:#F1F0E8 ;
    color: #8EA7A9;
    height: 100vh;
}

.campo_entrada {
    color: #8EA7A9;
    background-color: #F1F0E8;
    border: 1px solid #8EA7A9;
    border-radius: 0.5em;
    width:max-content;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}
.error{
    color:red;
    
}