.centro_bajo {
    background-color: #8EA7A9 ;
    border: 2px solid #8EA7A9 ;
    color: #F1F0E8;
     
    margin-left:-50px;
    left:50%;
    width:130px;
    height: 40px;
    bottom:10vh;
    border-radius: 0.5em;
 }