.fondo_oscuro {
    background-color: #8EA7A9 ;
    border: 1px solid;
    border-color:#F1F0E8 ;
    color: #F1F0E8;
    width:7em;
    height: 7em;
    border-radius: 0.5em;
    padding:1em;
    margin:1em
 }