.canvas_claro{
    background-color:#F1F0E8 ;
    height:auto;
    color: #8EA7A9;
    align-content: center;
    border: solid    #8EA7A9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}

.campo_entrada {
    color: #8EA7A9;
    background-color: #F1F0E8;
    border: 1px solid #8EA7A9;
    border-radius: 0.5em;
    margin-bottom: 0.2em;
    margin-right: 0.4em;
}

.error{
    color:red;
    font-style:italic;
    font-weight:lighter;
    font-size: smaller;
    text-align: left;
}

.titulo_oscuro{
    color: #8EA7A9;
    padding-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;
    line-height: 21px;
}

input, select {
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight:normal;
    font-size: 15px;
    color: #8EA7A9; 
}

td input {
    width: 3rem;
}

.result {
text-align:left;
color: #F58787;
}


.openclose {
    color: pink;
     }

.perfect {
    text-align:left;
    color: rgb(60, 158, 119)
    }

.total {
    text-align:right;
    color: rgb(60, 158, 119);
margin-right: 10px;    
    }

.label {
    text-align:left;
    
}

.inicio{
    position:absolute;
    top:2vh;
    right:5vw;
}

.volver {
    position:absolute;
    top:2vh;
    left:5vw;
}

.btn-dark-bkg {
    background-color: #8EA7A9 ;
    border: 1px solid;
    border-color:#F1F0E8 ;
    color: #F1F0E8;
    width:120px;
    height: 80px;
    border-radius: 0.5em;
    padding:1em;
    margin:1em
 }

 .btn-light-bkg {
    background-color: #8EA7A9 ;
    border: 2px solid #8EA7A9 ;
    color: #F1F0E8;
    margin: 0.5vh;
    width:130px;
    height: 35px;
    bottom:5vh;
    border-radius: 0.5em;
 }

 .btn-light-bkg-short {
    background-color: #8EA7A9 ;
    border: 2px solid #8EA7A9 ;
    color: #F1F0E8;
    margin: 0.5vh;
    width:80px;
    height: 30px;
    bottom:5vh;
    border-radius: 0.5em;
 }

 .btn-light-bkg-mid-page {
    background-color: #8EA7A9 ;
    border: 2px solid #8EA7A9 ;
    color: #F1F0E8;
    
    width:130px;
    height: 35px;
    border-radius: 0.5em;
    margin-top: 0.1em;
 }
 
 .center {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

  .foto {
     width :65%;
     height: auto;
  }
  
  table, td, th {
    padding: 4px;
    border:1px solid #8EA7A9;
    /* border-collapse: collapse; */
  }
  
  thead th, tbody td {
    text-align:center;
  }

  div table {
    text-align:center;
  }
  
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }