.canvas_oscuro{
    background-color:#8EA7A9 ;
    height:100vmax
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0.5em;
    width: 100%;
    height: 10vh;
    
}
.titulo_claro{
    
    padding-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color:#F1F0E8;
    
}

.titulo-claro-medio{
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color:#F1F0E8;
    
}

.btn-dark-bkg {
    background-color: #8EA7A9 ;
    border: 1px solid;
    border-color:#F1F0E8 ;
    color: #F1F0E8;
    width:100px;
    height: 60px;
    border-radius: 0.5em;
    padding:1em;
    margin:1em
 }

 .openclose {
color: rgb(125, 26, 26);
 }
